.item {
  padding: 5px;
  height: 30px;
  font-size: 13px;
  background: none;
  border: none;
  cursor: pointer;
  transition: .3s all ease;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }

  button {
    border: none;
    background: none;
  }
}

.active {
  background: #fff;

  border: 0.5px solid rgba(116, 116, 128, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);

  button {
    font-weight: 600;
  }
}